<div class="navigation">

  <div class="top-navigation">

    <div class="left-nav">

      <div class="hamburger">
        <button mat-icon-button aria-label="menu icon">
          <mat-icon href="#">menu</mat-icon>
        </button>
      </div>

      <div class="logo">
        <div class="subtitle">food for life</div>
        <div class="title" routerLink="/all-recipes-component" routerLinkActive="active">FOOD WORLD</div>
      </div>
    </div>

    <div class="right-nav">
      <ul>
        <li class="recipes" routerLink="/all-recipes-component" routerLinkActive="active"><a
            [appHighlight]="color"><span>recipes</span><span class="material-icons">restaurant_menu</span></a></li>
        <li class="favorite" routerLink="" routerLinkActive="active"><a [appHighlight]="color"><span
              class="nav-span">favorites</span>
            <span class="material-icons">bookmarks</span></a></li>
        <li class="favorite" routerLink="/make-it-yourself-component" routerLinkActive="active"><a
            [appHighlight]="color"><span class="nav-span">tools</span>
            <span class="material-icons">games</span></a></li>
        <li class="search" routerLink="/search-bar-component" routerLinkActive="active"><a><span></span><span
              [appHighlight]="color" class="material-icons">search</span></a></li>
        <li><a>
            <app-dark-mode-toggle>
            </app-dark-mode-toggle>
          </a>
        </li>
        <li class="favorite" routerLink="/login-component" routerLinkActive="active"><a [appHighlight]="color"><span
              class="material-icons">
              login
            </span></a></li>
      </ul>

    </div>
  </div>

  <div class="divider-1"></div>

  <div class="bottom-nav">
    <ul>
      <li><a class="breakfast" href="#">breakfast</a></li>
      <li><a class="lunch" href="#">lunch</a></li>
      <li><a class="dinner" href="#">dinner</a></li>
      <li><a class="dressings" href="#">dressings</a></li>
      <li><a class="desserts" href="#">desserts</a></li>
    </ul>
  </div>

  <div class="divider"></div>
</div>
<div></div>
