<div class="footer">

  <div class="top-footer">
    <ul class="top-ul">
      <li class="foot-t"> <a>about</a></li>
      <li class="foot-t"> <a>recipe index</a></li>
      <li class="foot-t"> <a>contact</a></li>

    </ul>
  </div>

  <div class="middle-footer">
    <ul class="middle-ul">
      <li><a class="foot-m"><img src="https://img.icons8.com/ios-filled/30/000000/facebook.png" /></a></li>
      <li><a class="foot-m"><img src="https://img.icons8.com/ios-filled/30/000000/linkedin.png" /></a></li>
      <li><a class="foot-m"><img src="https://img.icons8.com/ios-filled/30/000000/twitter.png" /></a></li>
      <li><a class="foot-m"><img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png" /></a></li>
    </ul>
  </div>

  <div class="bottom-footer">
    <ul class="bottom-ul">
      <li> <a class="foot-b">Copyright © 2022 affamatablog, all rights reserved.</a>
      </li>
      <li> <a class="foot-b">About</a>
      </li>
      <li> <a class="foot-b">FAQ</a>
      </li>
      <li> <a class="foot-b">First time in blog?</a>
      </li>
      <li> <a class="foot-b">Contact</a>
      </li>
      <li> <a class="foot-b">Privacy</a>
      </li>
    </ul>

  </div>
</div>
