/* FOOTER */

html,
body,
app-root {
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;

}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  position: relative;
  align-items: flex-end;
  align-content: flex-end;
  bottom: 0;
  left: 0;
  right: 0;


}

.footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  color: var(--main-green);
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

.top-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.top-footer {
  box-shadow: 1px 2px 5px var(--main-text-dark);
  ;
  max-width: 500px;
  margin: 15px auto;
}

.foot-t a:hover {
  background-color: var(--main-text-dark);
  ;
  color: var(--main-blue);
  ;
}

.foot-t {
  font-size: 24px;
  font-weight: 900;
  border: 1px solid var(--main-text-dark);
  ;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
  text-align: left;
  height: 200px;
  width: 100%;
  background-color: var(--main-bg-dark);
  color: var(--main-blue);
}

.bott-top-footer,
.bott-bott-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.bott-top-footer {
  margin-bottom: 50px;

}

.foot-b {
  font-weight: 500;
}

i {
  color: var(--main-text);
}

img {
  background-color: var(--main-dark);
  border-radius: 5px;
}


/* FINISH WITH MEDIA QUERIES*/
@media (max-width:600px) {
  .footer .bottom-ul {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }

  .bottom-footer {
    height: fit-content;
    width: 100%;
  }
}
