.navigation {
  position: fixed;
  transition: width 600ms ease;
  background-color: rgba(19, 17, 17, 0.5);
}

.navbar-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-li {
  width: 100%;
}


/* .nav-li:last-child {
  margin-left: 0;
  padding-left: 0px;
} */

.nav-a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  height: 5rem;
  color: white;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
  padding-top: 30px;
}

/* 
.last:hover {
  display: none;
} */

.nav-a:hover {
  filter: grayscale(0%) opacity(1);
  background: rgba(0, 0, 0, 0.5);
  color: rgba(249, 179, 179, 0.5);

}


.nav-span {
  display: none;
  margin-left: 1rem;
}

.nav-span svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  text-align: center;
  color: greenyellow;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
}

.navigation:hover .logo svg {
  transform: rotate(-180deg);
}

.nav-li {
  cursor: pointer;
}

/* padaryti SM versijoje, kad kai paspaudi magnifier, isijungtu pats komponentas. */


/* SM */
@media only screen and (max-width: 800px) {
  .navigation {
    top: 0;
    width: 100vw;
    height: 5rem;
    flex-direction: row;
  }

  .navbar-ul {
    flex-direction: row;
  }

  .logo {
    display: none;
  }

  .nav-ul {
    flex-direction: row;
  }

  .nav-a {
    align-items: center;
  }

}

/* LG */
@media only screen and (min-width: 800px) {

  .navigation {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navigation:hover {
    width: 16rem;
  }

  .navigation:hover .nav-span {
    display: inline;

  }

  .navigation:hover .logo svg {
    margin-left: 11rem;
  }

  .navigation:hover .logo-text {
    left: 0px;
  }
}
