  <nav class="navigation">

    <ul class="navbar-ul">

      <li id="logo" class="logo"><a class="nav-a" href="#"><span class="nav-span logo-text">svai.</span> <svg
            xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24"
            width="24px" fill="#000000">
            <g>
              <rect fill="none" height="24" width="24" />
            </g>
            <g>
              <g>
                <polygon points="15.5,5 11,5 16,12 11,19 15.5,19 20.5,12" />
                <polygon points="8.5,5 4,5 9,12 4,19 8.5,19 13.5,12" />
              </g>
            </g>
          </svg>
        </a>
      </li>

      <li class="nav-li"><a class="nav-a" routerLink="/all-recipes-component" routerLinkActive="active"><span
            class="nav-span">all recipes</span><svg class="svg-none" xmlns="http://www.w3.org/2000/svg" height="24px"
            viewBox="0 0 24 24" width="24px" fill="#000000">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M8.1 13.34l2.83-2.83L3.91 3.5c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z" />
          </svg>
        </a>
      </li>

      <li class="nav-li"><a class="nav-a" routerLink="/make-it-yourself-component" routerLinkActive="active"><span
            class="nav-span">saved</span>
          <svg class="svg-none" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
            fill="#000000">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M19 18l2 1V3c0-1.1-.9-2-2-2H8.99C7.89 1 7 1.9 7 3h10c1.1 0 2 .9 2 2v13zM15 5H5c-1.1 0-2 .9-2 2v16l7-3 7 3V7c0-1.1-.9-2-2-2z" />
          </svg>
        </a>
      </li>

      <li class="nav-li">
        <a class=" nav-a">
          <app-search-bar class="nav-span"></app-search-bar>
          <svg class="last" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
            fill="#000000">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
          </svg>
        </a>
      </li>
    </ul>

  </nav>
