<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register here</h6>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label for="fullName">Full Name</label>
            <input formControlName="fullName" type="text" class="form-control" id="fullName" placeholder="your name">
          </div>
          <div class="mb-3">
            <label for="mobileNumber">Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="your surname">
          </div>
          <div class="mb-3">
            <label for="email">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="email"
              placeholder="your email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
              placeholder="your password">
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <a routerLink="/login-component" routerLinkActive="active">Already registered? Click to Login</a>
      </div>
    </div>
  </div>
</div>
