body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;


  --main-background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(36, 36, 195, 1) 45%, rgba(0, 212, 255, 1) 100%);
  --main-background2: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(36, 36, 195, 1) 45%, rgba(0, 212, 255, 1) 100%);
  --main-text: white;
  --main-navbar: black;
  --main-navlogo: rgba(0, 212, 255, 1);
  --text-primary: black;
  --text-secondary: red;
  --bg-primary: yellow;
  --bg-secondary: red;
}

body * {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  color: red;
}

body::-webkit-scrollbar-thumb {
  background: #023e41;
}

/* DARK-LIGHT THEME */

body.dark-mode {
  background-color: greenyellow;
  color: #dfe6e9;
}

body.light-mode {
  background-color: papayawhip;
  color: #2d3436;
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

/* TOGGLE BUTTON */

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #fff;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #023e41cb;
}

.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #000;
}

.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #023e41;
}
