img {
  width: 30vh;
  height: 30vh;
  object-fit: cover;

}

.title {
  font-size: 24px;
}

.recipe-card {
  max-width: 300px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-left: 25px;
}

@media only screen and (max-width: 800px) {
  .grid {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* BUTTON TOGGLE */
.green {
  background-color: none;
}

.red {
  background-color: red;
}
