* {
  margin: 0;
  padding: 0;
}


img {
  width: 30vh;
  height: 30vh;
  object-fit: cover;

}

.title {
  font-size: 24px;
}

.recipe-card {
  max-width: 300px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-left: 25px;
}

mat-card-content,
mat-card-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.content {
  margin: 2px;
  padding: 2px;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .grid {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
