<div class="grid">
  <div class="card" *ngFor="let recipe of recipes">

    <mat-card align="center" class="recipe-card">
      <mat-card-header>
        <mat-card-title align="center">{{recipe.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ recipe.src }}" alt="Photo of a {{ recipe.title }}">
      <mat-card-content>
        <p>
          {{ recipe.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><span class="material-icons">
            favorite_border
            <!-- padaryti, kad onclick pasikeicia sirdute, tampa pilnavidure -->
          </span></button>
        <button mat-button routerLink="/recipe/{{ recipe.id }}" routerLinkActive="active">full
          recipe</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
