<div class="grid">
  <div class="card" *ngFor="let recipie of recipies">

    <mat-card align="center" class="recipe-card">
      <mat-card-header>
        <div class="container">
          <div class="mat-title">
            <mat-card-title align="center" class="title">{{ recipie.name }}</mat-card-title>
          </div>
          <div class="mat-vegetarian"> <span *ngIf="recipie.isVegetarian == true" [appVegetarian]="text"></span>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <span class="content material-icons"> watch_later </span>
        <span class="content">{{ recipie.timeToCook?.hours }}h </span>
        <span class="content">{{ recipie.timeToCook?.minutes }}min</span>
      </mat-card-content>
      <img mat-card-image src="{{ recipie.imageUrl }}" alt="Photo of a {{ recipie.name }}">
      <mat-card-actions>
        <button mat-icon-button (click)="toggleSelected()">
          <mat-icon *ngIf="selected" aria-label="Example icon-button with a heart icon">
            favorite
          </mat-icon>

          <mat-icon *ngIf="!selected" aria-label="Example icon-button with a heart icon">
            favorite_border
          </mat-icon>

        </button>
        <button mat-button routerLink="/recipie/{{recipie.recipieId}}" routerLinkActive="active">full
          recipe
        </button>
        <!-- <button *ngIf='favoriteActive' class="button" (click)="*ngIf='favoriteActive' = false; localStorage()" >Add to Favorite</button>
<button *ngIf='!favoriteActive' class="button" (click)="favoriteActive' = true; removeLocal()" >Remove Favorite</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>



<router-outlet></router-outlet>
