* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-bottom: 150px;

}

h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 32px;
  font-weight: 800;
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 18px;
  background-color: #023E41;
  color: white;
  border: 2px solid #000;
  border-radius: 2px;
  transition: 0.5s;
  translate: background-color;
}

.clock:hover {
  color: rgb(185, 253, 231);
  background-color: #023e41cb;
}

.date-container {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;
  padding: 5px;
  margin: 5px;
}

.time-container {
  display: flex;
  text-align: center;
  font-size: 52px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 5px;
  margin: 5px;
}

.time-container span:not(:last-child) {
  position: relative;
  margin: 0 5px;
  text-align: center;
  letter-spacing: 3px;
}

.time-container span:last-child {
  font-size: 28px;
  margin-bottom: 20px;
  padding: 0 5px;
}
