<!-- clock -->
<div class="clock-container">
  <h2>Time to cook!</h2>
  <div class="clock">
    <div class="date-container">
      <span class="day">{{todayDate | date: 'y MMMM d, EEEE'}}</span>
    </div>
    <div class="time-container">
      <span class="hour">{{hour | date: 'hh:mm:ss'}}</span>
      <span class="period">{{period | date: 'a'}}</span>
    </div>
  </div>
</div>

<!-- BMI calculator -->

<div class="bmi">
  <h2>What's your BMI?</h2>
  <div class="calorie-container">

    <div class="counter-form">
      <mat-form-field appearance="fill">
        <mat-label>Weight, kg</mat-label>
        <input matInput type="number" name="kg" [(ngModel)]="kg">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Height, cm</mat-label>
        <input matInput id="h" name="m" [(ngModel)]="m">
      </mat-form-field>
      <!-- <button mat-raised-button id="btn" (click)="countBMI()">Calculate</button> -->
    </div>

    <div class="form-results">
      <h3>BMI: {{myBmi()}} </h3>
    </div>

  </div>
</div>

<ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value" class="bshadow">
</ngx-qrcode>
<textarea [(ngModel)]="value"></textarea>

<router-outlet></router-outlet>
