<div class="recipe-card">

  <img src="https://images.everydayhealth.com/images/health-benefits-of-oatmeal-1440x810.jpg?sfvrsn=9f201ef_1"
    alt="Chai Oatmeal" width="500" />
  <div class="recipe-content">

    <h2> recipie.name </h2>
    <h3>Breakfast</h3>

    <ul>
      <li><span class="icon icon-users"></span><span>1 person</span></li>
      <li><span class="icon icon-clock"></span><span>15 min</span></li>
      <li><span class="icon icon-calories"></span><span>248 cal</span></li>
    </ul>
    <p>There is one thing I buy in jumbo size in my house: it is old fashioned oats! I eat oats for breakfast Monday
      thru
      Friday: in the summer I love cold overnight oats, and in the winter, I am all about warm oatmeal! </p>

    <ul class="ingredients">Ingredients:
      <li>oats</li>
      <li>cinnamon</li>
      <li>honey</li>
      <li>milk</li>
      <li>salt</li>
    </ul>

  </div>

</div>
