<!-- <app-all-recipes [recipies]="recipies"></app-all-recipes> -->

<div class="recipe-card" *ngIf="recipie">
  <h2>{{recipie.name}}</h2>
  <img src="{{recipie.imageUrl}}" alt="{{ recipie.name }}" />
  <div class="recipe-content">

    <h3>Breakfast</h3>
    <ul class="ul">
      <li class="li"><span class="icon icon-users"></span><span>1 person</span></li>
      <li class="li"><span class="icon icon-calories"></span><span>vegetarian</span></li>
      <!-- if vegetarian, print "vegetarian" -->
      <li class="li"><span class="icon icon-calories"></span><span>simple</span></li>
      <li class="li"> <span class="content">{{ recipie.timeToCook?.hours }}h </span> <span
          class="content">{{ recipie.timeToCook?.minutes }}min</span></li>


      <li class="li"><span class="icon icon-calories"></span><span>248 cal</span></li>

    </ul>
    <p>Here will be some super interesting and important content which nobady will ever read!</p>

    <ul class="ingredients">Ingredients:
      <li>SOMETHING FROM SERVER</li>
      <li>SOMETHING FROM SERVER</li>
      <li>SOMETHING FROM SERVER</li>
    </ul>

  </div>

</div>
