<div class=" navigation">
  <div id="logo"><a href="#">svai.</a></div>
  <nav class="nav">
    <ul>
      <li class="nav-li"><a routerLink="/all-recipes-component" routerLinkActive="active">all recipes</a></li>
      <li class="nav-li"><a routerLink="/make-it-yourself-component" routerLinkActive="active">DIY</a></li>
      <li>
        <form action="" class="search-form">
          <input class="search-input" name="search" type="text" placeholder="Search 10,000+ recipes">
          <button class="search-button"><i class="material-icons">search</i></button>
        </form>
      </li>
    </ul>
  </nav>
</div>
