<div class="search-container">
  <div class="form-group search">
    <input type="text" name="search" class="form-control search-input" placeholder="Search 1,000+ recipes"
      [(ngModel)]="term" />
    <button class="search-button"><i class="material-icons">search</i></button>
  </div>

  <table class="table">
    <tbody>
      <tr *ngFor="let recipie of recipies | filter:term">
        <td [appHighlight]="color" routerLink="/recipie/{{recipie.recipieId}}" routerLinkActive="active">
          {{recipie.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- MUST IMPLEMENT THIS ONE AS WELL: https://material.angular.io/components/autocomplete/examples -->
