.form {
  margin: 100px 0 0 280px;

}

.nav-search {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: row;


}

/* prideti stiliu, kad kampai butu apvalus */

.search-input,
.search-button,
.material-icons {
  height: 30px;
  border: 3px solid black;
  color: var(--main-navbar);
  background-color: rgba(19, 17, 17);
  ;
  /* issiaiskinti, ka tiksliai daro */
}

.search-button {
  border-radius: 0 5px 5px 0;
  background-color: rgba(19, 17, 17);
}
