.search-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 2% 5% 5% 5%;
  margin: 2% 5% 5% 5%;
}


.search {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding-bottom: 80px;
}

.search-input {
  border: 3px solid #000;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  width: 50vh;
  height: 36px;
  color: #000;
}

.search-button {
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  background: #000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  /* clip-path: inset(-5px -5px -5px 0px); */
}


/* TABLE */

table {
  width: 25%;
  cursor: pointer;

}

td,
th {
  width: 25%;
  font-size: 20px;
  line-height: 1.5;
}
